<% provide(:title, "勤怠編集" ) %>
<div>
  <h1>勤怠編集画面</h1>
  <%= form_for(@user, url: update_works_path, method: :patch) do |f| %>
    <table class = "table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>在社時間</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
          <%= fields_for "works[]", work do |af| %>
            <tr>
              <td><%= work.day.strftime("%-m/%d") %></td>
              <td><%= %w{日 月 火 水 木 金 土}[work.day.wday] %></td>
              <td><%= af.time_select :attendance_time, {minute_step: 15},class: "form-control" %></td>
              <td><%= af.time_select :leaving_time, {minute_step: 15},class: "form-control" %></td>
              <td>
                <% if work.attendance_time.present? && work.leaving_time.present? %>
                  <%= working_times(work.attendance_time, work.leaving_time) %>
                <% end %>
              </td>
              <td><%= af.text_field :remarks, class: "form-control" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="btn-attendances-update">
      <%= f.submit "更新", class: "btn btn-primary" %>
      <%= link_to "キャンセル", user_path(@user, params:{first_day: @first_day }), class: "btn btn-default btn-block" %>
    </div>
  <% end %>
</div>