<% provide(:title, '勤怠表示') %>
<div>
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                        class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.strftime("%Y年%-m月") %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                        class: "btn btn-xs btn-primary" %>
      </td>
      <td>指定勤務時間　<%= format_basic_time(@user.specified_time) %></td>
      <td>基本時間　<%= format_basic_time(@user.basic_time) %></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  <%= link_to "勤怠を編集", edit_works_path(@user, @first_day), class: "btn btn-primary" %>
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr> 
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>
    </thead>

      <% (@works).each do |work| %>
        <tr>
          <td><%= work.day.strftime("%-m/%d")%></td>
          <td><%= %w{日 月 火 水 木 金 土}[work.day.wday] %></td>
          <td><%= work.attendance_time.strftime("%H") if work.attendance_time.present? %></td>
          <td><%= work.attendance_time.strftime("%M") if work.attendance_time.present? %></td>
          <td>
            <% if work.day == Date.today && work.attendance_time.nil? %>
              <%= button_to "出社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td><%= work.leaving_time.strftime("%H") if work.leaving_time.present? %></td>
          <td><%= work.leaving_time.strftime("%M") if work.leaving_time.present? %></td>
          <td>
            <% if work.day == Date.today && work.attendance_time.present? && work.leaving_time.nil? %>
              <%= button_to "退社", user_works_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td>
            <% if work.attendance_time.present? && work.leaving_time.present? %>
              <%= working_times(work.attendance_time, work.leaving_time) %>
              <% seconds = (work.attendance_time - work.leaving_time).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>